{% extends 'admin/admin_index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/r-2.2.4/sl-1.3.1/datatables.min.css"/>
{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Admin.home_page') }}">
            <span class="side-icons"><i class="fas fa-home"></i></span>
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Admin.show_orders') }}">
            <span class="side-icons"><i class="fas fa-box-open"></i></span>
            Orders
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Admin.show_products') }}">
            <span class="side-icons"><i class="fas fa-pencil-ruler"></i></span>
            Products
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="">
            <span class="side-icons"><i class="fas fa-users"></i></span>
            Customers <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Admin.show_vendors') }}">
            <span class="side-icons"><i class="fas fa-user-shield"></i></span>
            Vendors
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Admin.show_complains') }}">
            <span class="side-icons"><i class="fas fa-exclamation-circle"></i></span>
            Complains
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Admin.show_feedbacks') }}">
            <span class="side-icons"><i class="fas fa-comments"></i></span>
            Feedbacks
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Customer Data</h1>
    </div>
    <div class="table-responsive">
        <table id="custTable" class="table table-striped table-sm">
            <thead>
                <th>#</th>
                <th>Customer Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Contact One</th>
                <th>Contact Two</th>
                <th>Address</th>
            </thead>
            <tbody>
                {% for person in customer %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ person.customer_id }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.contact_one }}</td>
                    <td>{{ person.contact_two }}</td>
                    <td>{{ person.const_house_no }}, {{ person.const_landmark }}, {{ person.const_locality }}, {{ person.const_city }}, {{ person.const_state }} {{ person.const_pincode }}.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/r-2.2.4/sl-1.3.1/datatables.min.js"></script>
<script>
    $(window).ready(function(){
        var table= $('#custTable').DataTable( {
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            }
          });
    });
</script>
{% endblock %}